beautifulsoup4==4.12.2
bs4==0.0.1
﻿certifi==2023.5.7
chardet==3.0.4
colorama==0.4.6
contextlib2==21.6.0
execnet==1.9.0
html5lib==1.1
idna==2.8
iniconfig==2.0.0
mechanize==0.4.5
mock==5.0.2
ObjDict==0.4.4
packaging==23.1
path==16.6.0
path.py==12.5.0
pluggy==1.0.0
pytest==7.3.2
pytest-shutil==1.7.0
requests==2.22.0
six==1.16.0
termcolor==2.3.0
texttable==1.6.2
urllib3==1.25.8
rich==13.4.2
webencodings==0.5.1
